<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713205679782-euoq2akrgpcpuspm5dpln8irrussgbjf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713205679782-euoq2akrgpcpuspm5dpln8irrussgbjf</string>
	<key>API_KEY</key>
	<string>AIzaSyB2tPuGPE62QfI6mlCVKlJ8RYsLWquvAVU</string>
	<key>GCM_SENDER_ID</key>
	<string>713205679782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cryptoWallet</string>
	<key>PROJECT_ID</key>
	<string>cryptowallet-420c9</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptowallet-420c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713205679782:ios:d56a6b6e3f7d7d99a75667</string>
	<key>DATABASE_URL</key>
	<string>https://cryptowallet-420c9.firebaseio.com</string>
</dict>
</plist>